
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.deps.json
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.dll
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.exe
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.pdb
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.runtimeconfig.dev.json
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.runtimeconfig.json
Lommeregner/obj/Debug/netcoreapp3.1/apphost.exe
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.CoreCompileInputs.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.FileListAbsolute.txt
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.dll
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.genruntimeconfig.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.pdb
