
Lommeregner/.vs/Lommeregner/DesignTimeBuild/.dtbcache.v2
Lommeregner/.vs/Lommeregner/FileContentIndex/208f634d-4d4a-4649-a08f-601d785a9ced.vsidx
Lommeregner/.vs/Lommeregner/FileContentIndex/9af0eecf-27c9-412d-bc2a-9704507e4bb4.vsidx
Lommeregner/.vs/Lommeregner/FileContentIndex/ca864144-6994-4935-8980-c7748f3d74f9.vsidx
Lommeregner/.vs/Lommeregner/FileContentIndex/read.lock
Lommeregner/.vs/Lommeregner/v17/.futdcache.v2
Lommeregner/.vs/Lommeregner/v17/.suo
Lommeregner/.vs/ProjectEvaluation/lommeregner.metadata.v5.1
Lommeregner/.vs/ProjectEvaluation/lommeregner.projects.v5.1
Lommeregner/.vs/ProjectSettings.json
Lommeregner/.vs/slnx.sqlite
Lommeregner/.vs/VSWorkspaceState.json
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.deps.json
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.dll
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.exe
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.pdb
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.runtimeconfig.dev.json
Lommeregner/bin/Debug/netcoreapp3.1/Lommeregner.runtimeconfig.json
Lommeregner/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
Lommeregner/obj/Debug/netcoreapp3.1/apphost.exe
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.BuildWithSkipAnalyzers
Lommeregner/obj/Debug/netcoreapp3.1/apphost.exe
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.CoreCompileInputs.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.FileListAbsolute.txt
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.dll
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.genruntimeconfig.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.pdb
Lommeregner/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Lommeregner/obj/Release/netcoreapp3.1/Lommeregner.AssemblyInfo.cs
Lommeregner/obj/Release/netcoreapp3.1/Lommeregner.AssemblyInfoInputs.cache
Lommeregner/obj/Release/netcoreapp3.1/Lommeregner.assets.cache
Lommeregner/obj/Release/netcoreapp3.1/Lommeregner.csproj.AssemblyReference.cache
Lommeregner/obj/Release/netcoreapp3.1/Lommeregner.GeneratedMSBuildEditorConfig.editorconfig
Lommeregner/.vs/Lommeregner/FileContentIndex/3cfba09a-efef-4975-a6cf-3dcec73279c8.vsidx
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.assets.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.AssemblyReference.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.GeneratedMSBuildEditorConfig.editorconfig
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.assets.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.csproj.AssemblyReference.cache
Lommeregner/obj/Debug/netcoreapp3.1/Lommeregner.GeneratedMSBuildEditorConfig.editorconfig
Lommeregner/.vs/Lommeregner/FileContentIndex/3b302338-3898-4752-98d5-3c0f8e07718a.vsidx
Lommeregner/.vs/Lommeregner/FileContentIndex/24e05869-52dd-4028-8f86-64dec4a1da56.vsidx
Lommeregner/.vs/Lommeregner/FileContentIndex/02737490-0339-4fd7-8925-b1b66abc3e39.vsidx
